<app-header2></app-header2>
<app-spinner></app-spinner>


<div class="space-top">
  <section class=" container-fluid ">

    <div class="deposit-container">
      <!-- <h2>Deposit</h2> -->

      <!-- OPTIONS -->
      <div class="options">
        <div
              class="option"
             [class.active]="walletService.selectedMode === 'TRON' ||  walletService.selectedMode === 'USD' "
             (click)="select('crypto')"
             *ngIf="!storeData.store['deposit']?.length && !storeData.store['hasMethod'] ||
             storeData.store['deposit']?.length && walletService.paymentMode(storeData.store['deposit'][0].method)==='crypto'||
             walletService.paymentMode(storeData.store['savedMethod'])==='crypto'"
            >
             <i class="ti ti-wallet fs-five"></i>
          <span>Crypto</span>
        </div>

        <div class="option"
             [class.active]="walletService.selectedMode === 'BANK'"
             (click)="select('bank')"

             *ngIf="!storeData.store['deposit']?.length && !storeData.store['hasMethod']
             ||storeData.store['deposit']?.length && walletService.paymentMode(storeData.store['deposit'][0].method)==='bank'
             ||walletService.paymentMode(storeData.store['savedMethod']||'USD')==='bank'"
             >
          <!-- <img src="assets/icons/bank.svg"> -->
          <i class="ti ti-building-bank fs-five"></i>
          <span>Bank</span>
        </div>
      </div>

      <div class="content">

        <!-- ---------------- Crypto Deposit ---------------- -->
        <div *ngIf="walletService.selectedMode === 'TRON' ||  walletService.selectedMode === 'USD'" class="box">
          <!-- <h3>Crypto Deposit</h3> -->


          <!-- 🔹 Crypto Deposit Section -->
          <div *ngIf="storeData.store['deposit']?.length" class="crypto-section card p-3">
              <div class="x-flex">
                <h5>Crypto Deposit</h5>
                <span class="text-main f-bold">{{storeData.store['deposit'][0].amount|currencyConverter:true:storeData.store['deposit'][0].method}}</span>
              </div>

              <div class="wallet-address d-flex align-items-center justify-content-between">
                <code>{{ storeData.store['deposit'][0].extraField.pay_address |truncateCenter:20 }}</code>
                <button (click)="walletService.copyContent(storeData.store['deposit'][0].extraField.pay_address)" class="copy-btn btn btn-sm btn-outline-primary w-50" >
                  <i class="ti ti-copy"></i> Copy
                </button>
              </div>
              <div *ngIf="walletService.selectedMode === 'USD' || walletService.selectedMode === 'TRON'" class="alert alert-info d-flex  align-items-center gap-1 mt-5" role="alert">
                <i class="ti ti-alert-triangle fs-5 text-warning"></i>
                <span class="color" *ngIf="storeData.store['deposit'][0].method === 'USD'">Send only <strong>USDT (TRC20)</strong> to this address.</span>
                <span class="color" *ngIf="storeData.store['deposit'][0].method === 'TRON'">Send only <strong>TRON</strong> to this address.</span>
              </div>

              <div class="qr-code text-center mt-3">
                <qrcode [qrdata]="storeData.store['deposit'][0].extraField.pay_address" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
              </div>

              <div class="text-center mt-3">
                <small  (click)="walletService.cancelPayment('deposit')" class="text-danger"> <i class="ti ti-trash fs-five"></i> Delete</small>

              </div>
          </div>

          <div class="card">
            <!-- form select -->
            <form *ngIf="!storeData.store['deposit']?.length" [formGroup]="walletService.formView['deposit']" (ngSubmit)="walletService.handleSubmit(walletService.formView['deposit'],'create_deposit')">
              <!-- Select Coin -->
              <div class="mb-3">
                <label>Select Cryptocurrency</label>
                <select
                    formControlName='payment_method'
                    (change)="walletService.onCurrencySelect($event)"
                    [(ngModel)]="walletService.SelectedCrypto"
                    >
                  <option value="USD">USDT (TRC20)</option>
                  <option value="TRON">TRX</option>
                  <!-- <option value="eth">Ethereum (ETH)</option> -->
                </select>
              </div>

              <div class="mb-3">
                <!-- Amount Input -->
                <label>Amount</label>
                <input
                  type="number"
                  [(ngModel)]="amount"
                  placeholder="Min {{walletService.selectedCurrency?.symbol}}{{walletService.minimumPayment}}"
                  [min]="walletService.minimumPayment"
                  class=" mb-3 n11-bg"
                  formControlName="amount"
                >
              </div>


            <button
               [class.inactive-btn]="!walletService.formView['deposit'].valid"
              class="cmn-btn px-5 py-3 mb-6 w-100 mt-4">
              SEND <i class="ti ti-arrow-right"></i>

            </button>

            </form>
          </div>

        </div>

        <!-- ---------------- Bank Deposit ---------------- -->
        <div *ngIf="walletService.selectedMode === 'BANK'" class="box">

          <div *ngIf="walletService.selectedMode === 'BANK' && storeData.store['deposit']?.length" class="bank-section card p">
            <div>
              <div class="x-flex">
                <h5>Bank Deposit</h5>
                <div class="" *ngIf="!walletService.previewUrl">
                  <span class="color text-s">{{storeData.store['deposit'][0].amount|currencyConverter:true:storeData.store['deposit'][0].method}}</span>
                </div>
              </div>
              <div  class="alert alert-warning  d-flex align-items-center gap-2 mt-5" role="alert">
                <i class="ti ti-alert-triangle fs-5 text-warning"></i>
                <span *ngIf="storeData.store['local_banks']&&storeData.store['local_banks'][0].automatic" class="color">
                    Click the Payment Page link below to complete your payment!
                    <br>
                    <button (click)="goToPaymentPage(storeData.store['deposit'][0])" class="btn btn" type="button" name="button">
                      Payment Page <i class="ti ti-arrow-right"></i>
                    </button>
                </span>
                <span *ngIf="storeData.store['local_banks']&&!storeData.store['local_banks'][0].automatic&&!storeData.store['deposit'][0].proof" class="color">
                    Deposit to our verified bank account and click on upload receipt completed to upload your proof.
                </span>
                <span *ngIf="storeData.store['deposit'][0].proof"
                  [class.text-success]="walletService.previewUrl"
                  class="color">
                    Your {{storeData.store['deposit'][0].amount|currencyConverter:true:storeData.store['deposit'][0].method}} deposit is currently awaiting confirmation.
                    <span class="color mt-4">Note: Bank network could be delayed: payment takes up to 0- 3 hours to reflect.</span>
                </span>

              </div>

                <div *ngIf="storeData.store['local_banks']&&!storeData.store['local_banks'][0].automatic">
                  <div *ngIf="storeData.store['local_banks'] as bank">
                    <ul *ngIf="!storeData.store['deposit'][0].proof;else awaitingpaymentConfirmationBlock" class="item-flex-list">
                      <li><span class="text-first">Bank Name:</span> <span>{{ bank[0].bank }}</span></li>
                      <li><span class="text-first">Account No:</span>
                        <span class="">
                          <button (click)="walletService.copyContent(bank[0].account_number)" class="copy-btn btn btn-sm btn-outline-primary text-right" >
                            <i class="ti ti-copy"></i> Copy
                          </button><br>
                          {{ bank[0].account_number }}
                        </span>
                      </li>
                      <li><span class="text-first">Account Name:</span> <span>{{ bank[0].account_holder }}</span></li>
                    </ul>
                  </div>

                  <div class="text-cente mt-4">
                    <small (click)="walletService.cancelPayment('deposit')" class="text-danger "> <i class="ti ti-trash fs-five"></i> Delete</small>

                  </div>


                  <ng-template #awaitingpaymentConfirmationBlock>
                    <ul *ngIf="storeData.store['deposit'][0] as deposit" class="item-flex-list">
                      <li><span class="text-first">Amount:</span> <span>{{ deposit.amount|currencyConverter:true:storeData.store['deposit'][0].method }}</span></li>
                      <li><span class="text-first">Created at:</span><span>{{deposit.timestamp|timeFormat:"fullDate"}}</span></li>
                      <li><span class="text-first">Confirming:</span> <span class="text-deem"> {{deposit.timestamp|countdown:3|async}} </span></li>
                    </ul>
                  </ng-template>



                  <div class="upload-wrapper mb-3 mt-5 text-center">
                    <label for="fileInput">
                      <img [src]="walletService.previewUrl || defaultImage" class="upload-preview" alt="Upload image" />
                    </label>
                    <input
                      type="file"
                      id="fileInput"
                      hidden
                      accept="image/*"
                      (change)="walletService.onImageSelected($event)"
                    >
                    <small *ngIf="" class="error"></small>

                    <h6 class="text-deem" style="display:flex;justify-content:center" *ngIf="!walletService.previewUrl;else attachSendersNameBlock">Upload Receipt</h6>

                  </div>


                </div>
                <ng-template #attachSendersNameBlock>
                    <div *ngIf="!storeData.store['deposit'][0].proof">
                      <input
                        [(ngModel)]="walletService.localDepositSendersName"
                        type="text"
                        placeholder="Senders Name"
                        class="n11-bg mb-3"
                      />
                      <span></span>

                      <button
                        class="cmn-btn px-5 py-3 mb-6 w-100"
                        [class.inactive-btn]="!walletService.selectedFile||!walletService.localDepositSendersName"
                        (click)="walletService.paymentCompleted()"
                        >
                        SEND <i class="ti ti-arrow-right"></i>
                      </button>
                    </div>
                </ng-template>
            </div>
          </div>

          <div class="card">
            <!-- form -->
            <form *ngIf="!storeData.store['deposit']?.length" [formGroup]="walletService.formView['deposit']" (ngSubmit)="walletService.handleSubmit(walletService.formView['deposit'],'create_deposit')">
                <!-- Select Currency -->
              <div class="mb-5">
                <label>Select Currency</label>
                <select
                [ngModel] = "walletService.SelectedBank"
                (change)="walletService.onCurrencySelect($event)"
                formControlName='payment_method'
                  >
                  <option *ngFor="let c of walletService.initCurrencies.slice(2)" [value]="c.code">
                    {{ c.name }} ({{ c.symbol }})
                  </option>
                </select>
              </div>

                <div *ngIf="walletService.selectedCurrency" class="mb-3">
                  <!-- Amount Input -->
                  <label>Amount</label>
                  <input
                    type="number"
                    [(ngModel)]="amount"
                    placeholder="Min {{walletService.selectedCurrency?.symbol}}{{walletService.minimumPayment}}"
                    [min]="walletService.minimumPayment"
                    class=" mb-3 n11-bg"
                    formControlName="amount"
                  >
                </div>


              <button
                 [class.inactive-btn]="!walletService.formView['deposit'].valid"
                class="cmn-btn px-5 py-3 mb-6 w-100 mt-4">Submit
              </button>

            </form>
          </div>

        </div>
      </div>


    </div>


  </section>

</div>
